Repository prgrms-be-devcourse/NBB1_2_3_Team09, pull requests merged in 2024-10, with the labels that each got.

#7 3: [FEAT] 사용자 약 정보 등록
  src/main/kotlin/medinine/pill_buddy/domain/user/caretaker/repository/CaretakerRepository.kt
  src/main/kotlin/medinine/pill_buddy/domain/userMedication/controller/UserMedicationController.kt
  src/main/kotlin/medinine/pill_buddy/domain/userMedication/dto/UserMedicationDTO.kt
  src/main/kotlin/medinine/pill_buddy/domain/userMedication/repository/UserMedicationRepository.kt
  src/main/kotlin/medinine/pill_buddy/domain/userMedication/service/UserMedicationService.kt
  src/main/kotlin/medinine/pill_buddy/domain/userMedication/service/UserMedicationServiceImpl.kt
  src/test/kotlin/medinine/pill_buddy/domain/userMedication/controller/UserMedicationControllerTest.kt
  src/test/kotlin/medinine/pill_buddy/domain/userMedication/service/UserMedicationServiceImplTest.kt
Labels: ✨ Feature, ✅ Test

#9 1: [FEAT] 시큐리티 초기 설정 및 Jwt 토큰 생성 로직 구현
  build.gradle.kts
  src/main/kotlin/medinine/pill_buddy/domain/user/caregiver/repository/CaregiverRepository.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/caretaker/repository/CaretakerRepository.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/service/CustomUserDetails.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/service/MyUserDetailService.kt
  src/main/kotlin/medinine/pill_buddy/global/config/RedisConfig.kt
  src/main/kotlin/medinine/pill_buddy/global/config/SecurityConfig.kt
  src/main/kotlin/medinine/pill_buddy/global/jwt/JwtAccessDeniedHandler.kt
  src/main/kotlin/medinine/pill_buddy/global/jwt/JwtAuthenticationEntryPoint.kt
  src/main/kotlin/medinine/pill_buddy/global/jwt/JwtAuthenticationFilter.kt
  src/main/kotlin/medinine/pill_buddy/global/jwt/JwtToken.kt
  src/main/kotlin/medinine/pill_buddy/global/jwt/JwtTokenProvider.kt
  src/main/kotlin/medinine/pill_buddy/global/redis/RedisUtils.kt
  src/main/resources/application.yml
  src/test/kotlin/medinine/pill_buddy/domain/user/service/MyUserDetailServiceTest.kt
  src/test/kotlin/medinine/pill_buddy/global/jwt/JwtTokenProviderTest.kt
  src/test/resources/application.yml
Labels: ✨ Feature, ⚙ Setting

#11 8: [FEAT] 사용자 약 정보 조회
  src/main/kotlin/medinine/pill_buddy/domain/userMedication/controller/UserMedicationController.kt
  src/main/kotlin/medinine/pill_buddy/domain/userMedication/service/UserMedicationService.kt
  src/main/kotlin/medinine/pill_buddy/domain/userMedication/service/UserMedicationServiceImpl.kt
  src/test/kotlin/medinine/pill_buddy/domain/userMedication/controller/UserMedicationControllerTest.kt
  src/test/kotlin/medinine/pill_buddy/domain/userMedication/service/UserMedicationServiceImplTest.kt
Labels: ✨ Feature, ✅ Test

#13 10: [FEAT] 사용자 회원가입
  src/main/kotlin/medinine/pill_buddy/domain/user/caregiver/repository/CaregiverRepository.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/caretaker/repository/CaretakerRepository.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/controller/AuthController.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/dto/JoinDto.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/dto/UserDto.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/dto/UserType.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/service/AuthService.kt
  src/test/kotlin/medinine/pill_buddy/domain/user/controller/AuthControllerTest.kt
  src/test/kotlin/medinine/pill_buddy/domain/user/service/AuthServiceTest.kt
Labels: ✨ Feature

#15 14: [FEAT] 사용자 로그인/로그아웃 기능 구현
  src/main/kotlin/medinine/pill_buddy/domain/user/controller/AuthController.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/dto/LoginDto.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/service/AuthService.kt
  src/test/kotlin/medinine/pill_buddy/domain/user/service/AuthServiceTest.kt
Labels: ✨ Feature

#18 12: [FEAT] 사용자 약 정보 수정
  build.gradle.kts
  src/main/kotlin/medinine/pill_buddy/domain/userMedication/controller/UserMedicationController.kt
  src/main/kotlin/medinine/pill_buddy/domain/userMedication/service/UserMedicationService.kt
  src/main/kotlin/medinine/pill_buddy/domain/userMedication/service/UserMedicationServiceImpl.kt
  src/test/kotlin/medinine/pill_buddy/domain/userMedication/controller/UserMedicationControllerTest.kt
  src/test/kotlin/medinine/pill_buddy/domain/userMedication/service/UserMedicationServiceImplTest.kt
Labels: ✨ Feature, ⚙ Setting, ✅ Test

#20 16: [FEAT] Jwt 토큰 재발급 구현
  src/main/kotlin/medinine/pill_buddy/domain/user/controller/AuthController.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/service/AuthService.kt
  src/main/kotlin/medinine/pill_buddy/global/jwt/JwtTokenProvider.kt
  src/test/kotlin/medinine/pill_buddy/domain/user/controller/AuthControllerTest.kt
  src/test/kotlin/medinine/pill_buddy/domain/user/service/AuthServiceTest.kt
Labels: ✨ Feature

#22 19: [FEAT] 보호자 등록 기능
  src/main/kotlin/medinine/pill_buddy/domain/user/caretaker/controller/CaretakerController.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/caretaker/dto/CaretakerCaregiverDTO.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/caretaker/repository/CaretakerCaregiverRepository.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/caretaker/service/CaretakerService.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/caretaker/service/CaretakerServiceImpl.kt
  src/test/kotlin/medinine/pill_buddy/domain/user/caretaker/controller/CaretakerControllerTest.kt
  src/test/kotlin/medinine/pill_buddy/domain/user/caretaker/service/CaretakerServiceImplTest.kt
Labels: ✨ Feature, ✅ Test

#23 21: [FEAT] 회원 관리 기능 구현
  src/main/kotlin/medinine/pill_buddy/domain/user/controller/UserController.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/dto/UserPasswordUpdateDto.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/dto/UserUpdateDto.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/service/AuthService.kt
  src/main/kotlin/medinine/pill_buddy/domain/user/service/UserService.kt
  src/test/kotlin/medinine/pill_buddy/domain/user/controller/UserControllerTest.kt
  src/test/kotlin/medinine/pill_buddy/domain/user/service/UserServiceTest.kt
Labels: ✨ Feature, ✅ Test
